/* main-font: Brandon Grotesque Bold
font-family: brandon-grotesque, sans-serif;

font-weight: 700;

font-style: normal; */

/*
Calmax bold
font-family: carlmarx,sans-serif;
font-weight: 700;
font-style: normal;

regular
font-family: carlmarx,sans-serif;
font-weight: 400;
font-style: normal;
*/


* {
  margin: 0;
  padding: 0;
}

div {
  height: 100vh;
}

.main-visual {
  /* background-color: #000; */
  background-image: url(image/main-visual.jpg);
  background-size: cover;
  background-position: ceter;
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.story {
  background-color: #000;
  color: white;
}

.container {
  display: none;
}

.container-1 {
  display: none;
}

.story h2 {
  font-size: 100px;
  padding-top: 30px;
  text-align: center;
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.activity {
  color: white;
  background-color: #222;
}

.activity h2 {
  font-size: 100px;
  text-align: center;
  padding-top: 30px;
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 300px;
  margin-top: 100px;
}

.swiper-container .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 50vh;
}

.swiper-container .swiper-wrapper .swiper-slide .imgBx {
  width: 100%;
  overflow: hidden;
}

.swiper-slide .imgBx img {
  width: 100%;
}

.interview {
  color: white;
  background-color: #444;
}

.interview h2 {
  font-size: 100px;
  text-align: center;
  padding-top: 30px;
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.schedule {
  background-color: #888;
  color: white;
}

.schedule h2 {
  font-size: 100px;
  text-align: center;
  padding-top: 30px;
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.production {
  background-color: #bbb;
  color: #000;
}

.production h2 {
  font-size: 100px;
  text-align: center;
  padding-top: 30px;
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.future-vision {
  background-color: #fff;
  color: #000;
}

.future-vision h2 {
  font-size: 100px;
  text-align: center;
  padding-top: 30px;
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: normal;
}


ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  list-style-type: none;

  margin: 80px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.message {
  margin: 0 auto;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.box {
  margin: 0 auto;
  width: 800px;
  height: 200px;
}

.message img {
  margin-top: 100px;
  z-index: 0;
}

h1 {
  font-family: carlmarx, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 10px;
}