/* main-font: Brandon Grotesque Bold
font-family: brandon-grotesque, sans-serif;

font-weight: 700;

font-style: normal; */


* {
  margin: 0;
  padding: 0;
}

div {
  height: 100vh;
}

.main-visual {
  /* background-color: #000; */
  background-image: url(image/main-visual.jpg);
  background-size: cover;
  background-position: ceter;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.story {
  background-color: #000;
  color: white;
}

.story h2 {
  text-align: center;
  padding-top: 20px;
}

.activity {
  color: white;
  background-color: #222;
}

.activity h2 {
  text-align: center;
  padding-top: 20px;
}

.interview {
  color: white;
  background-color: #444;
}

.interview h2 {
  text-align: center;
  padding-top: 20px;
}

.schedule {
  background-color: #888;
  color: white;
}

.schedule h2 {
  text-align: center;
  padding-top: 20px;
}

.production {
  background-color: #bbb;
  color: #000;
}

.production h2 {
  text-align: center;
  padding-top: 20px;
}

.future-vision {
  background-color: #fff;
  color: #000;
}

.future-vision h2 {
  text-align: center;
  padding-top: 20px;
}

/*
div:nth-child(5) {
  background-color: rgb(218, 218, 218);
}

div:nth-child(5) {
  background-color: ; 
}*/

ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    list-style-type: none;
    margin: 100px;
}　


